# Config file for beyond0lte
# This is merged with exynos9820_defconfig on build

# TZDEV
# CONFIG_TZDEV_DEPLOY_OLD_TZAR is not set

# Touchscreen
CONFIG_TOUCHSCREEN_SEC_TS_Y771=y

# Camera
CONFIG_CAMERA_BSS_V00=y

# Decon
# CONFIG_EXYNOS_MULTIRESOLUTION is not set
CONFIG_EXYNOS_ADAPTIVE_FREQ=y
# CONFIG_EXYNOS_DECON_LCD_S6E3HA9 is not set
# CONFIG_SUPPORT_ISC_TUNE_TEST is not set
# CONFIG_SUPPORT_DSU is not set
CONFIG_EXYNOS_DECON_LCD_S6E3FA7=y
# CONFIG_SUPPORT_GRAM_CHECKSUM is not set
# CONFIG_SUPPORT_CCD_TEST is not set
# CONFIG_SUPPORT_DYNAMIC_HLPM is not set
CONFIG_EXYNOS_DSIM_DITHER=y

# Sound
CONFIG_SND_SOC_SAMSUNG_BEYOND_MADERA=y
CONFIG_SND_SOC_SAMSUNG_SYSFS_EARJACK=y
CONFIG_SND_SOC_SAMSUNG_ABOX_DRAM_SIZE=0x1C00000

# Extcon
CONFIG_EXTCON_MADERA=y
CONFIG_EXTCON_MADERA_INPUT_EVENT=y

# Vibrator
CONFIG_MAX77705_VIBRATOR=y
CONFIG_SEC_VIBRATOR=y
CONFIG_SEC_VIB_NOTIFIER=y
# CONFIG_ANDROID_TIMED_OUTPUT is not set
# CONFIG_MOTOR_CS40L2X is not set

# Sensors
CONFIG_SENSORS_SSP_BEYOND=y
CONFIG_SENSORS_TCS3407=y
# CONFIG_SENSORS_QBT2000 is not set
CONFIG_SENSORS_ET5XX=y

#OC & UC
CONFIG_ARM_MODCLOCK=y
CONFIG_MAX_FREQ_BIG=2400000
CONFIG_MIN_FREQ_BIG=377000
CONFIG_MAX_FREQ_LITTLE=2002000
CONFIG_MIN_FREQ_LITTLE=130000
CONFIG_MAX_FREQ_PRIME=2912000
CONFIG_MIN_FREQ_PRIME=520000

#FP BOOSTER
CONFIG_FINGERPRINT_BOOST=y

#Misc Tweaks
CONFIG_DYNAMIC_FSYNC=y

# Enable Boeffla wakelock blocker for d1xks device
CONFIG_BOEFFLA_WL_BLOCKER=y

# Working set protection for 12GB RAM: protects anonymous and clean file pages
CONFIG_ANON_MIN_KBYTES=131072
CONFIG_CLEAN_LOW_KBYTES=65536
CONFIG_CLEAN_MIN_KBYTES=32768

# Charging/Battery
CONFIG_MAX77705_GRL_ENABLE=y
