# Config file for d2s
# This is merged with exynos9820_defconfig on build

# TZDEV
CONFIG_TZDEV_DEPLOY_OLD_TZAR=y

# Touchscreen
CONFIG_TOUCHSCREEN_SEC_TS_Y771_D=y

# SPen
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_W9020=y

# Camera
CONFIG_CAMERA_CIS_3M5_OBJ=y
CONFIG_CAMERA_CIS_IMX316_OBJ=y
CONFIG_CAMERA_CIS_IMX516_OBJ=y
CONFIG_CAMERA_DNS_V02=y
CONFIG_CAMERA_CIS_IMX316_BUCK_USE=y

# Decon
CONFIG_EXYNOS_FREQ_HOP=y
CONFIG_AVOID_TSP_NOISE=y
CONFIG_SUPPORT_POC_SPI=y
CONFIG_DYNAMIC_FREQ=y

# Sound
CONFIG_SND_SOC_SAMSUNG_D_MADERA=y
CONFIG_SND_SOC_SAMSUNG_ABOX_DRAM_SIZE=0x1E00000

# SEC ABC Hub
CONFIG_SEC_ABC_HUB_COND_DAVINCI=y

# Vibrator
# CONFIG_MAX77705_VIBRATOR is not set
# CONFIG_MAX77705_VIB_FOLD_MODEL is not set
CONFIG_SEC_VIBRATOR=y
CONFIG_SEC_VIB_NOTIFIER=y

# Sensors
CONFIG_SENSORS_SSP_TMD4907=y
CONFIG_SENSORS_SX9360=y
CONFIG_SENSORS_SSP_DAVINCI=y
CONFIG_SENSORS_SSP_PROX_LIGHT_DIFF=y
CONFIG_SENSORS_TCS3407=y

#OC & UC
CONFIG_ARM_MODCLOCK=y
CONFIG_MAX_FREQ_BIG=2400000
CONFIG_MIN_FREQ_BIG=377000
CONFIG_MAX_FREQ_LITTLE=2002000
CONFIG_MIN_FREQ_LITTLE=130000
CONFIG_MAX_FREQ_PRIME=2912000
CONFIG_MIN_FREQ_PRIME=520000

#FP BOOSTER
CONFIG_FINGERPRINT_BOOST=y

#Misc Tweaks
CONFIG_DYNAMIC_FSYNC=y

# Enable Boeffla wakelock blocker for d1xks device
CONFIG_BOEFFLA_WL_BLOCKER=y

# Working set protection for 12GB RAM: protects anonymous and clean file pages
CONFIG_ANON_MIN_KBYTES=131072
CONFIG_CLEAN_LOW_KBYTES=65536
CONFIG_CLEAN_MIN_KBYTES=32768

# Charging/Battery
CONFIG_BATTERY_SAMSUNG_DC=y
CONFIG_DIRECT_CHARGING=y
CONFIG_CHARGER_PCA9468=y
CONFIG_WIRELESS_CHARGER_MFC_S2MIW04=y
CONFIG_WIRELESS_CHARGER_HAL_MFC=y
CONFIG_WIRELESS_IC_PARAM=y
CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED=y
CONFIG_MAX77705_FW_PID03_SUPPORT=y
CONFIG_PDIC_PD30=y

# Redriver
CONFIG_COMBO_REDRIVER_PTN36502=y

# Samsung SysUP
CONFIG_SEC_SYSUP=y
