# Config file for d2x
# This is merged with exynos9820_defconfig on build

# TZDEV
# CONFIG_TZDEV_DEPLOY_OLD_TZAR is not set

# Touchscreen
CONFIG_TOUCHSCREEN_SEC_TS_Y771_D=y

# SPen
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_W9020=y

# Camera
CONFIG_CAMERA_CIS_3M5_OBJ=y
CONFIG_CAMERA_CIS_IMX316_OBJ=y
CONFIG_CAMERA_CIS_IMX516_OBJ=y
CONFIG_CAMERA_DNS_V02=y
CONFIG_CAMERA_CIS_IMX316_BUCK_USE=y

# Decon
CONFIG_EXYNOS_FREQ_HOP=y
CONFIG_AVOID_TSP_NOISE=y
CONFIG_SUPPORT_POC_SPI=y
CONFIG_DYNAMIC_FREQ=y

# Sound
CONFIG_SND_SOC_SAMSUNG_D_MADERA=y
CONFIG_SND_SOC_SAMSUNG_ABOX_DRAM_SIZE=0x1E00000

# SEC ABC Hub
CONFIG_SEC_ABC_HUB_COND_DAVINCI=y

# Vibrator
# CONFIG_MAX77705_VIBRATOR is not set
# CONFIG_MAX77705_VIB_FOLD_MODEL is not set
CONFIG_SEC_VIBRATOR=y
CONFIG_SEC_VIB_NOTIFIER=y

# Sensors
CONFIG_SENSORS_SSP_TMD4907=y
CONFIG_SENSORS_SX9360=y
CONFIG_SENSORS_SSP_DAVINCI=y
CONFIG_SENSORS_SSP_PROX_LIGHT_DIFF=y
CONFIG_SENSORS_TCS3407=y

# Charging/Battery
CONFIG_BATTERY_SAMSUNG_DC=y
CONFIG_DIRECT_CHARGING=y
CONFIG_CHARGER_PCA9468=y
CONFIG_WIRELESS_CHARGER_MFC_S2MIW04=y
CONFIG_WIRELESS_CHARGER_HAL_MFC=y
CONFIG_WIRELESS_IC_PARAM=y
CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED=y
CONFIG_MAX77705_FW_PID03_SUPPORT=y
CONFIG_PDIC_PD30=y

# Redriver
CONFIG_COMBO_REDRIVER_PTN36502=y

# Samsung SysUP
CONFIG_SEC_SYSUP=y

# Modem
# CONFIG_SEC_SIPC_MODEM_IF is not set
CONFIG_SEC_MODEM_S5100=y
CONFIG_BOOT_DEVICE_SPI=y
CONFIG_LINK_POWER_MANAGEMENT=y
# CONFIG_LINK_POWER_MANAGEMENT_WITH_FSM is not set
CONFIG_LINK_DEVICE_PCIE=y
CONFIG_UMTS_MODEM_S5100=y
CONFIG_SEC_SIPC_DUAL_MODEM_IF=y
CONFIG_CP_PKTPROC_V2=y
CONFIG_MUIC_UART_SWITCH=y
